<!DOCTYPE html>
<html>
	<head>
		<title></title>
            
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="/css/bootstrap-3.3.2/css/bootstrap-theme-slate.min.css" rel="stylesheet">


		<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
		<script src="/css/bootstrap-3.3.2/js/bootstrap.min.js"></script>
		
		
		
		<link href="/css/slim-dashboard.css" rel="stylesheet" type="text/css">
		
		<script src="/js/contener.js"></script>
		
		
		
		<link href="/css/chat.css" rel="stylesheet" type="text/css">
		<script src="/js/chat.js"></script>
		
		
		<link href="/css/gauge.css" rel="stylesheet" type="text/css">
		<script src="/js/gauge.js"></script>
		
		
		<link href="/css/gaugeNumber.css" rel="stylesheet" type="text/css">
		<script src="/js/gaugeNumber.js"></script>
		
		
		<link href="/css/checker.css" rel="stylesheet" type="text/css">
		<script src="/js/contenerChecker.js"></script>
		<script src="/js/checker.js"></script>
		
		
		<link href="/css/progressBar.css" rel="stylesheet" type="text/css">
		<script src="/js/progressBar.js"></script>
		
		
		<link href="/css/alerte.css" rel="stylesheet" type="text/css">
		<script src="/js/contenerAlerte.js"></script>
		<script src="/js/alerte.js"></script>
		
		
		<script src="/socket.io/socket.io.js"></script>
        <script>
			$(function(){
				$('#div-progressBar').progressBar();
				
				
				
				$('#div-gauge1').gauge({"value" : 50, "titre" : "Titre du gauge 1", "height" :  180});
				$('#div-gauge-number').gaugeNumber({title : "Statistique du jour"});
				$('#div-gauge2').gauge({"value" : 50, "titre" : "Titre du gauge 1", "height" :  180});
				
				
				$('#div-alertes').contenerAlerte({
					"alertes" : [
						{id:"1020",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"1"},
						{id:"1021",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"2"},
						{id:"1022",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"1"},
						{id:"1023",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"1"},
						{id:"1024",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"2"},
						{id:"1025",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"1"},
						{id:"1026",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"1"},
						{id:"1027",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"1"},
						{id:"1028",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"1"},
						{id:"1029",outil:"Zabbix",projet:"Claranet SI",nb_occur:"3",priorite:"1"}
					]
				});
				
				
				$('#div-checker').contenerChecker({
					'checkList' : {
						"Zabbix" : true,
						"WPM" : false,
						"Oraconsole" : true,
						"Nagios-SD" : false,
						"Typhon" : true,
						"AWS" : false
					}
				});
				$('#div-chat').chat({'height' : '600px'});
				
				
		
				var socket = io.connect('http://localhost:8333');
				socket.on('add-message', function(auteur,time,message) {
					$('#div-chat').chat('addMessage',auteur,time,message);
				});
				
				/*socket.on('update-gauge', function(val) {
					$('#gauge-div').gauge('update',val);
				});*/
			});
        </script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 cadre">
					<div id="div-progressBar"></div>
				</div>
			</div>
			
			<div class="row" style="padding-left : 15px;">
				<div class="col-lg-2 cadre">
					<div id="div-gauge1"></div>
					<div id="div-gauge2"></div>
					<div id="div-gauge-number"></div>
					
				</div>
			
				<div class="col-lg-8 cadre">
					<div id="div-alertes"></div>
				</div>
				
				<div class="col-lg-2 cadre">
					<div id="div-checker"></div>
					<div id="div-chat"></div>
				</div>
			</div>
			
			
		
			<!-- <div class="row">
				<div class="col-lg-4 cadre">
					<div id="div-alerts"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 cadre">
					<div id="div-chat"></div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 cadre">
					<div id="div-checker"></div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 ">
					<div id="div-progressBar"></div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 cadre">
					<div id="div-checker"></div>
				</div>
			</div>
		
			<div class="row">
				<div class="col-lg-4 cadre">
					<div id="div-gauge"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 cadre">
					<div id="div-gauge-number"></div>
				</div>
			</div> -->
			
			
			
		</div>
	</body>
</html>