<!DOCTYPE html>
<html>
	<head>
		<title></title>
            
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="/css/bootstrap-3.3.2/css/bootstrap-theme-slate.min.css" rel="stylesheet">
		
		<link href="/js/c3/c3.css" rel="stylesheet" type="text/css">
		<link href="/css/slim-dashboard.css" rel="stylesheet" type="text/css">
		
		
		<meta name="Author" content="SI, Claranet FR">
		<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
		<script src="/css/bootstrap-3.3.2/js/bootstrap.min.js"></script>

		<script src="/js/d3/d3.min.js" charset="utf-8"></script>
		<script src="/js/c3/c3.min.js"></script>
		
		<script src="/js/slim-dashboard.js"></script>
		<script src="/js/chat.js"></script>
		<script src="/js/gauge.js"></script>
		
		
		<script src="/socket.io/socket.io.js"></script>
        <script>
			$(function(){
				
				$('#chat-div').chat({'height' : '600px'});
				
				$('#gauge-div').gauge();
		
				var socket = io.connect('http://localhost:8333');
				socket.on('add-message', function(auteur,time,message) {
					console.log('glenn');
					$('#chat-div').chat('addMessage',auteur,time,message);
				});
				
				socket.on('update-gauge', function(val) {
					$('#gauge-div').gauge('update',val);
				});
			});
        </script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div id="right-menu" class="col-lg-4 cadre">
					<div id="chat-div"></div>
				</div>
				
				<div id="right-menu" class="col-lg-4 cadre">
					<div id="gauge-div"></div>
				</div>
			</div>
		</div>
	</body>
</html>