.panel-gauge svg text{
	text-anchor : middle;
	font-size : 12px;
}

.panel-gauge svg .font-color{
	fill : rgb(156,66,116);
	stroke : none;
}

.panel-gauge svg .value-color{
	fill : white;
	stroke : none;
}

.panel-gauge svg .gauge-text-pourcent{
	font-size : 10px;
}

.panel-gauge {
	text-align : center;
	background-color : rgb(156,66,116);
}

.panel-gauge .gauge-graph{
	width : 100%;
}

.panel-gauge .gauge-background{
	fill : black;
	opacity : 0.3;
}


.panel-gauge .content-title{
	min-width : 1px;
	width : 100%;
	padding : 10px;
	text-align : center;
}

.panel-gauge .content-title > *{
	width : 100%;
	min-height : 7px;
	position : relative;
	
}

.panel-gauge .title{
	color : white;
	padding-top : 3px;
	padding-bottom : 3px;
	opacity : 0.99;
	background-color : rgba(0,0,0,0.3);
}